body {
    box-sizing: border-box;
}

.blockchain {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}

.block {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 5px;
    border: 1px solid rgba(128, 128, 128, 0.473);
    border-radius: 5px;
    background-color: rgba(206, 56, 56, 0.644);
}

.block.mined {
    background-color: rgba(70, 255, 70, 0.664);
}

.block > input {
    margin: 3px;
}

.hash {
    text-align: center;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}